<h1>Dashboard</h1>

<form class='new-post-form'> 
    <div> 
        <label for="post-title">New Blog Title</label>
        <input type="text" id="post-title" />
    </div>
    <div>
        <label for="blog_post">New Blog Post</label>
        <textarea name="blog_post"></textarea>
    </div>
    <button type="submit">Submit</button>


</form>


<script src="/javascript/dashboard.js"></script>



